.about{
	position: relative;
	padding-top: 3em;
	margin: .3em 1em 7em;
	h2{
		color: $primary;
		margin-top: -1.5em;
		margin-bottom: 0;}
	.image-box{
		margin: 0 auto;
		text-align: center;}
	img{
		text-align: center;
		margin-top: 2em;
		width: 7em;
		border-radius: 50%;}
	p{
		margin-top: 1.5em;}
}
.push{
	margin-top: 2.7em;}