.contact{
	margin-top: 3.2em;
	h2{
		text-align: center;
	}
	h3{
		margin-top: 1.5em;
		color:$secondary;
		text-align: center;
		font-weight: 300;}
	p{
		font-weight: 300;}
	.contact-box{
		margin-top: 2em;
		float: left;
		width: 25%;
		text-align: center;}
	.contact-text{
		a{
			color: $primary;
		}
	}
	span{
		top: 1em;
		vertical-align: center;
		font-size: 2em;}
	.contact-description{
		display:none;}
}

@media screen and (min-width: 40em){
	.contact{
		text-align: center;
		.contact-box{
			width: 50%;
		}

		.contact-description{
			display: block;
			// background-color: $primary;
		}
		.ion-ios-telephone:hover .telephone{
			display: block;
		}
	}
}