.projects{
	padding: 2.2em 0 65em;
	#bottom-arrow{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;}
	.slideshow{
		position: relative;}
	.project-box{
		text-align: center;
		margin-bottom: 4em;
		width: 100%;
		h3{
			font-weight: 300;
			text-align: center;
			padding-bottom: 1em;}
		a:nth-of-type(1){
			margin-right: 20px;}
		a:nth-of-type(2){
			margin-left: 20px;}
		a{
			font-weight: 400;}
	}
	.project-box:nth-of-type(1){
		margin-top: 3em;
	}

	.line{
		border-bottom: 1px solid $secondary;
		max-width: 250px;
		padding-top: 1em;
		margin: 0 auto;
	}
	.project-nav{
		text-align: center;
		margin-top: 300px;
		.ion-ios-circle-outline{
			color: $secondary;
			font-size: 1.5em;}
		.ion-ios-circle-outline:nth-of-type(2){
			margin: 0 .5em;
		}
	}
	img{
		width: 200px;}
}

@media screen and (min-width: 40em){
	.projects{
		// padding-bottom: 30em;
		.project-box{
			.project-pics{
				height: 250px;}
		}
	}
}